.list {
  width: 100%;
  margin-top: 10px;
}

.list .listTitle {
  color: white;
  font-size: 20px;
  font-weight: 500;
  margin-left: 50px;
}

.list .wrapper {
  position: relative;
}

.wrapper .container {
  margin-left: 50px;
  display: flex;
  width: max-content;
  transform: translateX(0px);
  transition: all 0.5s ease;
}

.wrapper .sliderArrow {
  width: 50px;
  height: 100%;
  background-color: rgb(20, 20, 20, 0.5);
  color: white;
  position: absolute;
  z-index: 99;
  top: 0;
  bottom: 0;
  margin: auto;
  cursor: pointer;
}

.wrapper .sliderArrow.left {
  left: 0;
}
.wrapper .sliderArrow.right {
  right: 0;
}
